PROD_DB_HOST=your-aiven-host
PROD_DB_USER=your-aiven-user
PROD_DB_PASSWORD=your-aiven-password
PROD_DB_NAME=your-aiven-database
PROD_DB_CA_CERT=your-aiven-ca-cert
PROD_DB_PORT=your-aiven-port

TEST_DB_CONNECTION_PASSWORD=your-local-test-password
TEST_DB_NAME=broker_test

DB_CONNECTION_PASSWORD=your-local-db-password
DB_NAME=your-local-db-name

SECRET_KEY = your-secret-key-for-jwt-token-generation
ALGORITHM = your-algorithm-for-jwt-token-generation

RUN_TEST = your-boolean-value-to-determine-which-database-to-use-true-for-test-false-for-production-or-local

ALLOWED_ORIGINS = your-allowed-origins-both-local-and-remote